.search {
  width: fit-content;
  height: 30px;
  margin-left: 10px;
  display: inline-block;
  position: absolute;
  top: 50px;
  right: 5%;

  @media (max-width: 450px) {
    top: 100px;
  }

  &::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: var(--primary);
    position: absolute;
    left: 5px;
    bottom: 0;
  }

  .icon {
    font-size: 30px;
    color: var(--primary);
    vertical-align: bottom;
  }

  input[type="text"] {
    height: 30px;
    width: 150px;
    color: var(--primary);
    font-size: 1.3rem;
    font-weight: 100;
    border: none;
    outline: none;
  }
}

.main {
  padding: 100px;
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(auto-fit, 200px);
  justify-content: space-around;

  .box {
    width: 100%;
    height: 50px;
    padding: 0 5px;
    font-size: 1.2rem;
    background-color: var(--background);
    display: flex;
    align-items: center;
    transition: all var(--transition-time);
    box-shadow: 5px 5px 10px -4px var(--box-shadow);
    cursor: pointer;

    div {
      text-align: center;
      margin-inline: auto;
      font-weight: 700;
      transition: all var(--transition-time);
    }

    &:hover {
      background-color: var(--primary);
      box-shadow: 2px 2px 5px var(--box-shadow);

      div {
        color: var(--on-primary);
      }
    }
  }
}
