.wrapper {
  width: min(650px, calc(100% - 40px));
  height: 400px;
  position: fixed;
  top: 50%;
  filter: drop-shadow(8px 4px 4px rgba(0, 0, 0, 0.3));
  z-index: 200;

  transition: all var(--transition-time);
  left: 0%;
  transform: translate(calc(-100% + 40px), -50%);

  & > div:not(.dialog) {
    background-color: var(--primary);
    position: absolute;
    z-index: 1;
  }
  .top_left_1 {
    height: 30%;
    width: 5px;
    top: 0;
    left: 0;
  }

  .top_left_2 {
    height: 5px;
    width: 30%;
    top: 0;
    left: 0;
  }

  .top {
    height: 5px;
    width: 150px;
    top: 0;
    right: 100px;
  }

  .top_right {
    height: 140px;
    width: 5px;
    top: -18.8px;
    right: 49.3px;
    rotate: -45deg;
  }

  .right {
    height: 60px;
    width: 5px;
    top: 99px;
    right: 0px;
  }

  .right_2 {
    height: 60px;
    width: 5px;
    bottom: 0px;
    right: 0px;
  }

  .bottom {
    height: 5px;
    width: 150px;
    bottom: 0px;
    right: 0px;
  }

  .bottom_2 {
    height: 5px;
    width: 200px;
    bottom: 0px;
    left: 0px;
  }

  .left {
    height: 40px;
    width: 5px;
    bottom: 0px;
    left: 0px;
  }

  .inside_bottom {
    height: 3px;
    width: 170px;
    left: 60px;
    bottom: 20px;
  }

  .inside_bottom_left {
    height: 57px;
    width: 3px;
    left: 40px;
    bottom: 12.3px;
    rotate: -45deg;
  }

  .inside_left_1 {
    height: 40px;
    width: 3px;
    left: 20px;
    bottom: 60px;
  }

  .inside_left_2 {
    height: 70px;
    width: 3px;
    left: 20px;
    top: 60px;
  }

  .inside_top_left {
    height: 57px;
    width: 3px;
    left: 40px;
    top: 12.3px;
    rotate: 45deg;
  }

  .inside_top_1 {
    height: 3px;
    width: 30px;
    top: 20px;
    left: 60px;
  }

  .inside_top_2 {
    height: 3px;
    width: 80px;
    right: 112px;
    top: 20px;
  }

  .inside_top_right {
    height: 130px;
    width: 3px;
    right: 66px;
    top: 2px;
    rotate: -45deg;
  }

  .inside_right {
    height: 40px;
    width: 3px;
    right: 20px;
    top: 112px;
  }

  .dialog {
    width: 100%;
    height: 100%;
    background-color: var(--accent);
    box-shadow: 1px 1px 10px var(--shadow);
    clip-path: polygon(
      0 00%,
      0% 0,
      calc(100% - 100px) 0,
      100% 100px,
      100% 100%,
      0 100%
    );

    .title {
      margin-right: 100px;
      padding: 40px 0 30px 80px;
      position: relative;
      white-space: nowrap;
      overflow: hidden;

      &::after {
        content: "";
        margin-left: 13px;
        width: 60%;
        display: block;
        height: 2px;
        background-color: var(--primary);
      }
    }

    .subtitle {
      white-space: nowrap;
      color: var(--on-primary);
      font-weight: bold;
      position: absolute;
      right: -80px;
      rotate: 90deg;
      top: 250px;
      font-size: 1.5rem;
      width: 200px;
    }

    .description {
      width: calc(100% - 70px);
      height: 245px;
      padding: 0 40px 0 20px;
      margin-left: 60px;
      overflow-y: scroll;
      direction: rtl;

      p {
        font-size: 1.3rem;
      }

      .edit_area {
        width: 100%;
        height: 245px;
      }

      * {
        direction: ltr;
      }
    }

    .last_update {
      padding-right: 50px;
      font-size: 1.3rem;
      font-weight: bold;
      text-align: right;
      transition: padding-right 0.3s;
      user-select: none;

      .edit_icon {
        margin-left: 10px;
        height: 25px;
        width: 25px;
        vertical-align: top;
        cursor: pointer;
      }
    }

    @media (max-width: 500px) {
      clip-path: polygon(
        0 00%,
        0% 0,
        calc(100% - 70px) 0,
        100% 70px,
        100% 100%,
        0 100%
      );

      .title {
        margin-right: 70px;
        padding: 20px 0 20px 30px;
      }

      .subtitle {
        top: 220px;
      }

      .description {
        height: 280px;
        padding: 0 0 0 20px;
        margin-left: 20px;
      }
    }
  }

  &.open {
    left: 50%;
    transform: translate(-50%, -50%);

    .last_update {
      padding-right: 20px;
    }
  }

  &:focus-visible {
    border: none;
    outline: none;
  }

  @media (max-width: 500px) {
    .inside {
      display: none;
    }

    .top_right {
      height: 98px;
      top: -12.5px;
      right: 34.2px;
    }

    .top {
      right: 70px;
    }

    .right {
      top: 70px;
    }
  }
}

.bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  z-index: 100;

  &.open {
    pointer-events: all;
  }
}
