.wrapper {
  width: min(650px, 100% - 40px);
  height: 400px;
  position: fixed;
  top: 50%;
  filter: drop-shadow(8px 4px 4px rgba(0, 0, 0, 0.3));
  z-index: 200;
  transition: all var(--transition-time);
  left: 0%;
  transform: translate(calc(-100% + 40px), -50%);
}
.wrapper > div:not(.dialog) {
  background-color: var(--primary);
  position: absolute;
  z-index: 1;
}
.wrapper .top_left_1 {
  height: 30%;
  width: 5px;
  top: 0;
  left: 0;
}
.wrapper .top_left_2 {
  height: 5px;
  width: 30%;
  top: 0;
  left: 0;
}
.wrapper .top {
  height: 5px;
  width: 150px;
  top: 0;
  right: 100px;
}
.wrapper .top_right {
  height: 140px;
  width: 5px;
  top: -18.8px;
  right: 49.3px;
  rotate: -45deg;
}
.wrapper .right {
  height: 60px;
  width: 5px;
  top: 99px;
  right: 0px;
}
.wrapper .right_2 {
  height: 60px;
  width: 5px;
  bottom: 0px;
  right: 0px;
}
.wrapper .bottom {
  height: 5px;
  width: 150px;
  bottom: 0px;
  right: 0px;
}
.wrapper .bottom_2 {
  height: 5px;
  width: 200px;
  bottom: 0px;
  left: 0px;
}
.wrapper .left {
  height: 40px;
  width: 5px;
  bottom: 0px;
  left: 0px;
}
.wrapper .inside_bottom {
  height: 3px;
  width: 170px;
  left: 60px;
  bottom: 20px;
}
.wrapper .inside_bottom_left {
  height: 57px;
  width: 3px;
  left: 40px;
  bottom: 12.3px;
  rotate: -45deg;
}
.wrapper .inside_left_1 {
  height: 40px;
  width: 3px;
  left: 20px;
  bottom: 60px;
}
.wrapper .inside_left_2 {
  height: 70px;
  width: 3px;
  left: 20px;
  top: 60px;
}
.wrapper .inside_top_left {
  height: 57px;
  width: 3px;
  left: 40px;
  top: 12.3px;
  rotate: 45deg;
}
.wrapper .inside_top_1 {
  height: 3px;
  width: 30px;
  top: 20px;
  left: 60px;
}
.wrapper .inside_top_2 {
  height: 3px;
  width: 80px;
  right: 112px;
  top: 20px;
}
.wrapper .inside_top_right {
  height: 130px;
  width: 3px;
  right: 66px;
  top: 2px;
  rotate: -45deg;
}
.wrapper .inside_right {
  height: 40px;
  width: 3px;
  right: 20px;
  top: 112px;
}
.wrapper .dialog {
  width: 100%;
  height: 100%;
  background-color: var(--accent);
  box-shadow: 1px 1px 10px var(--shadow);
  clip-path: polygon(0 0%, 0% 0, calc(100% - 100px) 0, 100% 100px, 100% 100%, 0 100%);
}
.wrapper .dialog .title {
  margin-right: 100px;
  padding: 40px 0 30px 80px;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
}
.wrapper .dialog .title::after {
  content: "";
  margin-left: 13px;
  width: 60%;
  display: block;
  height: 2px;
  background-color: var(--primary);
}
.wrapper .dialog .subtitle {
  color: var(--on-primary);
  font-weight: bold;
  position: absolute;
  right: -80px;
  rotate: 90deg;
  top: 250px;
  font-size: 1.5rem;
  width: 200px;
}
.wrapper .dialog .description {
  width: calc(100% - 70px);
  height: 250px;
  padding: 0 40px 0 20px;
  margin-left: 60px;
  overflow-y: scroll;
  direction: rtl;
}
.wrapper .dialog .description p {
  font-size: 1.3rem;
}
.wrapper .dialog .description * {
  direction: ltr;
}
.wrapper .dialog .last_update {
  padding-right: 50px;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: right;
  transition: padding-right 0.3s;
}
@media (max-width: 500px) {
  .wrapper .dialog {
    clip-path: polygon(0 0%, 0% 0, calc(100% - 70px) 0, 100% 70px, 100% 100%, 0 100%);
  }
  .wrapper .dialog .title {
    margin-right: 70px;
    padding: 20px 0 20px 30px;
  }
  .wrapper .dialog .subtitle {
    top: 220px;
  }
  .wrapper .dialog .description {
    height: 280px;
    padding: 0 0 0 20px;
    margin-left: 20px;
  }
}
.wrapper.open {
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrapper.open .last_update {
  padding-right: 10px;
}
.wrapper:focus-visible {
  border: none;
  outline: none;
}
@media (max-width: 500px) {
  .wrapper .inside {
    display: none;
  }
  .wrapper .top_right {
    height: 98px;
    top: -12.5px;
    right: 34.2px;
  }
  .wrapper .top {
    right: 70px;
  }
  .wrapper .right {
    top: 70px;
  }
}

.bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  z-index: 100;
}
.bg.open {
  pointer-events: all;
}

.loading {
  height: 250px;
  position: relative;
}
.loading .box {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.loading .box .stroke {
  fill: none;
  stroke: #000;
  stroke-miterlimit: 10;
}
.loading .box .main_cicle,
.loading .box .left_bottom_circle,
.loading .box .right_circle,
.loading .box .top_circle,
.loading .box .right_top_circle {
  animation: loop 3s infinite;
}
.loading .box .main_cicle {
  animation-name: loop-1;
}
.loading .box .left_bottom_circle {
  animation-name: loop-2;
}
.loading .box .right_circle {
  animation-name: loop-3;
}
.loading .box .right_top_circle {
  animation-name: loop-4;
}
.loading .box .top_circle {
  animation-name: loop-5;
}

@keyframes loop-1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  11% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loop-2 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  21% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loop-3 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  31% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loop-4 {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  41% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loop-5 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}/*# sourceMappingURL=dialog.module.css.map */