.wrapper {
  width: min(650px, calc(100% - 40px));
  height: 400px;
  position: fixed;
  top: 50%;
  filter: drop-shadow(8px 4px 4px rgba(0, 0, 0, 0.3));
  z-index: 100;

  transition: all var(--transition-time);
  left: 0%;
  transform: translate(calc(-100% + 40px), -50%);

  &.open {
    left: 50%;
    transform: translate(-50%, -50%);
  }

  & > div:not(.dialog) {
    background-color: var(--primary);
    position: absolute;
    z-index: 1;
  }
  .top_left_1 {
    height: 30%;
    width: 5px;
    top: 0;
    left: 0;
  }

  .top_left_2 {
    height: 5px;
    width: 30%;
    top: 0;
    left: 0;
  }

  .top {
    height: 5px;
    width: 150px;
    top: 0;
    right: 100px;
  }

  .top_right {
    height: 140px;
    width: 5px;
    top: -18.8px;
    right: 49.3px;
    rotate: -45deg;
  }

  .right {
    height: 60px;
    width: 5px;
    top: 99px;
    right: 0px;
  }

  .right_2 {
    height: 60px;
    width: 5px;
    bottom: 0px;
    right: 0px;
  }

  .bottom {
    height: 5px;
    width: 150px;
    bottom: 0px;
    right: 0px;
  }

  .bottom_2 {
    height: 5px;
    width: 200px;
    bottom: 0px;
    left: 0px;
  }

  .left {
    height: 40px;
    width: 5px;
    bottom: 0px;
    left: 0px;
  }

  .inside_bottom {
    height: 3px;
    width: 170px;
    left: 60px;
    bottom: 20px;
  }

  .inside_bottom_left {
    height: 57px;
    width: 3px;
    left: 40px;
    bottom: 12.3px;
    rotate: -45deg;
  }

  .inside_left_1 {
    height: 40px;
    width: 3px;
    left: 20px;
    bottom: 60px;
  }

  .inside_left_2 {
    height: 70px;
    width: 3px;
    left: 20px;
    top: 60px;
  }

  .inside_top_left {
    height: 57px;
    width: 3px;
    left: 40px;
    top: 12.3px;
    rotate: 45deg;
  }

  .inside_top_1 {
    height: 3px;
    width: 30px;
    top: 20px;
    left: 60px;
  }

  .inside_top_2 {
    height: 3px;
    width: 80px;
    right: 112px;
    top: 20px;
  }

  .inside_top_right {
    height: 130px;
    width: 3px;
    right: 66px;
    top: 2px;
    rotate: -45deg;
  }

  .inside_right {
    height: 40px;
    width: 3px;
    right: 20px;
    top: 112px;
  }

  .dialog {
    width: 100%;
    height: 100%;
    background-color: var(--accent);
    box-shadow: 1px 1px 10px var(--shadow);
    clip-path: polygon(
      0 00%,
      0% 0,
      calc(100% - 100px) 0,
      100% 100px,
      100% 100%,
      0 100%
    );

    .title {
      padding: 40px 100px 30px 80px;
      position: relative;

      &::after {
        content: "";
        margin-left: 13px;
        width: 60%;
        display: block;
        height: 2px;
        background-color: var(--primary);
      }
    }

    .subtitle {
      color: var(--on-primary);
      font-weight: bold;
      position: absolute;
      right: -80px;
      rotate: 90deg;
      top: 250px;
      font-size: 1.5rem;
      width: 200px;
    }

    .description {
      width: calc(100% - 70px);
      height: 260px;
      padding: 0 40px 20px 20px;
      margin-left: 60px;
      overflow-y: scroll;
      direction: rtl;

      p {
        font-size: 1.3rem;
      }

      * {
        direction: ltr;
      }
    }
  }
}

.loading {
  height: 250px;
  position: relative;

  .box {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;

    .stroke {
      fill: none;
      stroke: #000;
      stroke-miterlimit: 10;
    }

    .main_cicle,
    .left_bottom_circle,
    .right_circle,
    .top_circle,
    .right_top_circle {
      animation: loop 3s infinite;
    }

    .main_cicle {
      animation-name: loop-1;
    }
    .left_bottom_circle {
      animation-name: loop-2;
    }
    .right_circle {
      animation-name: loop-3;
    }
    .right_top_circle {
      animation-name: loop-4;
    }
    .top_circle {
      animation-name: loop-5;
    }
  }
}

@keyframes loop-1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  11% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loop-2 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  21% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loop-3 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  31% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loop-4 {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  41% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loop-5 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
