.frame {
  position: relative;
  z-index: 1000;

  div {
    background-color: var(--primary);
    position: fixed;

    &::before,
    &::after {
      content: "";
      position: fixed;
      background-color: var(--primary);
    }
  }

  .line_1 {
    &::before {
      height: 5px;
      width: 15%;
      top: 25px;
      left: 25px;
    }

    &::after {
      height: 30%;
      width: 5px;
      top: 25px;
      left: 25px;
    }
  }

  .line_2 {
    &::before {
      height: 5px;
      top: 50px;
      left: 50px;
      right: 20%;
    }

    &::after {
      width: 5px;
      top: 50px;
      bottom: 80px;
      left: 50px;
    }
  }

  .line_3 {
    height: 5px;
    width: calc(15% - 28px);
    top: 25px;
    right: 48.5px;

    &::before {
      height: 5px;
      width: 36px;
      top: 37px;
      right: 19.5px;
      rotate: 45deg;
    }

    &::after {
      width: 5px;
      top: 50px;
      bottom: 80px;
      right: 23px;
    }
  }

  .line_4 {
    height: 5px;
    left: 50px;
    right: 25px;
    bottom: 80px;
  }

  @media (min-width: 800px) {
    .line_3 {
      width: 150px;
      right: 143px;

      &::before {
        width: 170px;
        top: 85px;
        right: 0;
      }

      &::after {
        top: 146px;
      }
    }
  }
}
