.frame {
  position: relative;
  z-index: 10;
  isolation: isolate;

  & div {
    background-color: var(--primary);
    position: fixed;
    pointer-events: none;
    z-index: 50;
  }

  &.rev > div {
    background-color: var(--on-primary);
  }

  .top_left_1 {
    height: 4px;
    width: 80px;
    top: 57.5px;
    left: 0px;
    rotate: -45deg;
  }

  .top_1 {
    height: 4px;
    width: calc(100% - 250px);
    top: 30px;
    left: 65.5px;
  }

  .top_2 {
    height: 4px;
    width: calc(100% - 110px);
    top: 20px;
    right: 95px;
  }

  .top_right_1 {
    height: 4px;
    width: calc(1.414 * 80px);
    top: 60px;
    right: 0px;
    rotate: 45deg;
  }

  .right_1 {
    height: 25%;
    width: 4px;
    top: 100px;
    right: 15px;
  }

  .right_2 {
    height: 20%;
    width: 4px;
    bottom: 120px;
    right: 15px;
  }

  .bottom_right_1 {
    height: 4px;
    width: calc(1.414 * 80px);
    bottom: 80px;
    right: 0px;
    rotate: -45deg;
  }

  .bottom_1 {
    width: max(calc(100% - 300px), 40%);
    height: 4px;
    bottom: 40px;
    right: 95px;
  }

  .bottom_2 {
    width: calc(100% - 300px);
    height: 4px;
    bottom: 30px;
    left: 105px;
  }

  .bottom_left_1 {
    width: 30%;
    height: 4px;
    bottom: 20px;
    left: 20px;
  }

  .bottom_left_2 {
    width: 4px;
    height: 25%;
    bottom: 20px;
    left: 20px;
  }

  .bottom_left_3 {
    width: 4px;
    height: 100px;
    bottom: 17px;
    left: 70px;
    rotate: -45deg;
  }

  .left_1 {
    width: 4px;
    height: 5%;
    bottom: 100px;
    left: 35px;
  }

  .rect_1 {
    height: 10px;
    width: 10px;
    top: 20px;
    left: 30%;
  }

  .rect_2 {
    height: 10px;
    width: 10px;
    top: 20px;
    right: max(30%, 200px);
  }

  .rect_3 {
    height: 10px;
    width: 10px;
    bottom: 30px;
    right: max(20%, 200px);
  }

  .rect_4 {
    height: 10px;
    width: 10px;
    bottom: 30px;
    right: max(40%, 200px);
  }

  .rect_5 {
    height: 10px;
    width: 10px;
    bottom: 20px;
    left: min(200px, 30%);
  }

  .logo_circle {
    padding: 100px 20px 0 0;
    background-color: var(--primary);
    border-radius: 50%;
    width: 400px;
    height: 400px;
    text-align: end;
    overflow: hidden;

    bottom: -120px;
    left: -160px;
    z-index: 60;

    .logo {
      width: 40%;
      height: auto;
      margin: 0 0 auto auto;
    }

    & > div {
      background-color: var(--on-primary);
      position: fixed;
      pointer-events: none;
    }

    .bottom_1 {
      clip-path: ellipse(200px 200px at max(-165px, 135px - 60vw) -36px);
    }

    .bottom_2 {
      clip-path: ellipse(200px 200px at -65px -46px);
    }

    .bottom_left_1 {
      clip-path: ellipse(200px 200px at 18px -50px);
    }

    .bottom_left_2 {
      clip-path: ellipse(200px 200px at 20px calc(100% - 60px));
    }

    @media (max-width: 500px) {
      display: none;
    }
  }

  .masks {
    z-index: 40;

    & > div {
      background-color: var(--background);
    }

    .top_1 {
      height: 21px;
      width: 100%;
      top: 0;
      left: 0;
    }

    .top_2 {
      width: 30%;
      height: 34px;
      top: 0;
      left: 0;
    }

    .right_top {
      width: 120px;
      height: 120px;
      top: 0;
      right: 0;

      clip-path: polygon(0 0%, 0% 0, 100% 0, 100% 100px, 100% 100%, 0 0);
    }

    .right_1 {
      width: 17px;
      height: calc(25% + 110px);
      top: 0;
      right: 0;

      clip-path: polygon(
        0 0%,
        0% 0,
        100% 0,
        100% 100px,
        100% 100%,
        0 calc(100% - 10px)
      );
      background: linear-gradient(
        to top,
        rgba(255, 255, 255, 0) 0%,
        var(--background) 50%
      );
    }

    .right_2 {
      width: 17px;
      height: calc(20% + 125px);
      bottom: 0;
      right: 0;

      clip-path: polygon(
        0 0%,
        0% 0,
        100% 0,
        100% 100px,
        100% 100%,
        0 calc(100% - 10px)
      );
      background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 0%,
        var(--background) 50%
      );
    }

    .right_bottom {
      width: 140px;
      height: 140px;
      bottom: 0;
      right: 0;

      clip-path: polygon(
        100% 100%,
        100% 100%,
        100% 0%,
        100% 0%,
        0% 100%,
        100% 500%
      );
    }

    .bottom {
      height: 32px;
      bottom: 0;
      left: 0;
      right: 0;
    }

    .bottom_2 {
      height: 40px;
      width: max(20%, 200px);
      bottom: 0;
      right: 0;
      left: initial;
    }

    .leftt_top {
      width: 100px;
      height: 100px;
      top: 0;
      left: 0;

      clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
      background: linear-gradient(
        15deg,
        rgba(255, 255, 255, 0) 10%,
        var(--background) 40%
      );
    }
  }
}
