.loading {
  height: 100%;
  position: relative;

  .box {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;

    .stroke {
      fill: none;
      stroke: #000;
      stroke-miterlimit: 10;
    }

    .main_cicle,
    .left_bottom_circle,
    .right_circle,
    .top_circle,
    .right_top_circle {
      animation: loop 3s infinite;
    }

    .main_cicle {
      animation-name: loop-1;
    }
    .left_bottom_circle {
      animation-name: loop-2;
    }
    .right_circle {
      animation-name: loop-3;
    }
    .right_top_circle {
      animation-name: loop-4;
    }
    .top_circle {
      animation-name: loop-5;
    }
  }
}

@keyframes loop-1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  11% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loop-2 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  21% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loop-3 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  31% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loop-4 {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  41% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loop-5 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
