.markdown {
  p {
    font-size: 15px;
    padding-top: 15px;
  }

  a {
    color: brown;
  }

  ul {
    padding: 20px 0;

    li:last-of-type {
      padding-bottom: 0;
    }
  }

  li {
    margin-left: 15px;
  }

  ol ul {
    padding: 10px 0;
  }

  h1,
  h2 {
    border-bottom: 1px solid var(--primary);
    padding-top: 20px;
  }

  h3,
  h4,
  h5,
  h6 {
    padding-top: 10px;
  }

  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 25px;
  }

  h4 {
    font-size: 22px;
  }

  h5 {
    font-size: 18px;
  }

  h6 {
    font-size: 16px;
  }

  img {
    width: 100%;
  }

  code {
    padding: 5px 10px;
    background-color: var(--box-shadow);
    border-radius: 10px;
  }

  pre {
    margin: 20px 0;
    padding: 10px;
    background-color: var(--box-shadow);

    code {
      padding: 0;
      background-color: initial;
      border-radius: initial;
    }
  }

  table {
    padding: 10px;
    border-collapse: separate;
    border-spacing: 0;

    th,
    td {
      background-color: var(--on-primary);
      border-top: 1px solid var(--primary);
      border-bottom: 1px solid var(--primary);
      border-right: 1px solid var(--primary);
      padding: 8px 10px;

      &:first-of-type {
        border-left: 1px solid var(--primary);
      }
    }

    tr:nth-of-type(2n-1) td {
      background-color: var(--box-shadow);
    }
  }

  hr {
    margin: 20px 0;
    border: initial;
    border-top: solid 1px var(--primary);
  }

  blockquote {
    margin: 20px 10px;
    padding: 10px;
    border-left: 5px solid var(--box-shadow);

    blockquote {
      margin: 5px;
    }

    p {
      padding: 0;
    }
  }
}
