:root {
  font-size: 15px;

  --primary: #e68bbc;
  --primary-thin: #e08daa;
  --on-primary: #ffffff;
  --background: #ffffff;
  --shadow: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-moz-selection {
  color: var(--on-primary);
  background-color: var(--primary);
}

::selection {
  color: var(--on-primary);
  background-color: var(--primary);
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  color: var(--primary);
}