.container {
  width: 100vw;
  padding: 20px;
  text-align: center;

  @media (max-width: 750px) {
    text-align: start;
  }

  .title_box {
    width: fit-content;
    display: inline-block;
    position: relative;

    &::after {
      content: "";
      height: 1px;
      width: 100%;
      background-color: var(--primary);
      position: absolute;
      left: calc(50% - 100px);
      top: 40px;

      @media (max-width: 750px) {
        left: 0;
      }
    }

    .title {
      font-weight: 100;
    }

    .description {
      font-weight: 100;
    }
  }

  .search {
    width: fit-content;
    height: 30px;
    margin-left: 10px;
    display: inline-block;
    position: absolute;
    top: 50px;
    right: 5%;

    @media (max-width: 450px) {
      top: 100px;
    }

    &::after {
      content: "";
      width: 100%;
      height: 1px;
      background-color: var(--primary);
      position: absolute;
      left: 5px;
      bottom: 0;
    }

    .icon {
      font-size: 30px;
      color: var(--primary);
      vertical-align: bottom;
    }

    input[type="text"] {
      height: 30px;
      width: 150px;
      color: var(--primary);
      font-size: 1.3rem;
      font-weight: 100;
      border: none;
      outline: none;
    }
  }
}
