[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
collection = "*"
pandas = "*"
unicodedata2 = "*"
networkx = "*"
matplotlib = "*"
japanize_matplotlib = "*"
numpy = "*"
urllib3 = "*"
requests = "*"
mecab-python3 = "*"
neologdn = "*"
beautifulsoup4 = "*"
python-dotenv = "*"
wikipedia = "*"
lxml = "*"
janome = "*"
nltk = "*"
tokenizer = "*"
googletrans = "*"
pyperclip = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.11"
