:root {
  font-size: 15px;

  --primary: #000000;
  --on-primary: #faf0f0;
  --secondory: #f09713;
  --accent: #5AC0C3;
  --background: #FFF9F1;
  --shadow: #000000;
  --box-shadow: rgba(0, 0, 0, .2);
  --transition-time: 0.3s;
}

::-moz-selection {
  color: var(--on-primary);
  background-color: var(--primary);
}

::selection {
  color: var(--on-primary);
  background-color: var(--primary);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  background-color: var(--background);
}

body {
  overflow: hidden;
}
